@import "tailwindcss";

@theme inline {
  --color-martini: #B6A8A2;
  --color-english: #471914;
  --color-stallion: #0F1E1D;
  --color-walnut: #3F2920;
  --color-jedi: #070F05;
  
  --color-background: var(--color-jedi);
  --color-foreground: var(--color-martini);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
