@import "tailwindcss";

@theme inline {
  --color-neon: #ccff00;
  --color-dark-bg: #09090b;
  --color-dark-card: #141417;
  --color-dark-border: #27272a;
  --color-text-main: #ffffff;
  --color-text-muted: #a1a1aa;
}

body {
  background-color: var(--color-dark-bg);
  color: var(--color-text-main);
}

.bg-grid {
  background-size: 60px 60px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}
